body {
    background-color: hsl(217, 54%, 11%);
    font-family: "outfit", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

div.head {
    width: 300px;
    height: 600px;
    background-color: hsl(216, 50%, 16%);
    border-radius: 16px;
    padding: 20px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
}

h1 {
    color: white;
    cursor: pointer;
    font-size: 18px;
}

h1:hover {
    color: hsla(178, 100%, 50%, 0.7);
}

div.head img.item {
    width: 300px;
    height: auto;
    border-radius: 6px;
}

div.head div.container {
    position: relative;
    border-radius: 6px;
    overflow: hidden;
}

div.head .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: hsla(178, 100%, 50%, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: 0.3s ease;
    cursor: pointer;
}

div.container:hover .overlay {
    opacity: 1;
}

.preson {
    width: 35px;
    border: 1px solid white;
    border-radius: 50%;
    margin-bottom: -12px;
}

p {
    font-size: 18px;
}

p.des {
    color: hsl(215deg 22.93% 53%);
    line-height: 1.5;
}

p.num {
    color: hsl(178, 100%, 50%);
    display: inline;
    padding-bottom: 5px;
}

p.deta {
    color: hsl(215, 51%, 70%);
    text-align: right;
}

p.name {
    color: hsl(215deg 22.93% 53%);
    display: inline-block;
}

span {
    color: white;
    cursor: pointer;
}

span:hover {
    color: hsla(178, 100%, 50%, 0.7);
}

div.head div.both {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

div.head div.both div.time {
    display: flex;
    align-items: center;
    gap: 8px;
}

@media (max-width: 480px) {
    .head {
        padding: 15px;
    }

    h1 {
        font-size: 16px;
    }

    .des,
    .num p,
    .time p,
    .name p {
        font-size: 13px;
    }
}